In [ ]:
#Loading and exploring the dataset

In [107]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
telecom_usage_df = pd.read_csv('/Users/aayushpatil/Downloads/telecom_usage.csv')

In [109]:
telecom_usage_df.head()

   customer_id  calls_made  sms_sent  data_used  churn
0        15169          75        21       4532      1
1       149207          35        38        723      1
2       148119          70        47       4688      1
3       187288          95        32      10241      1
4        14016          66        23       5246      1

In [111]:
telecom_demographics_df = pd.read_csv('/Users/aayushpatil/Downloads/telecom_demographics.csv')

In [113]:
telecom_demographics_df.head()

,customer_id,telecom_partner,gender,age,state,city,pincode,registration_event,num_dependents,estimated_salary
0,15169,Airtel,F,26,Himachal Pradesh,Delhi,667173,2020-03-16,4,85979
1,149207,Airtel,F,74,Uttarakhand,Hyderabad,313997,2022-01-16,0,69445
2,148119,Airtel,F,54,Jharkhand,Chennai,549925,2022-01-11,2,75949
3,187288,Reliance Jio,M,29,Bihar,Hyderabad,230636,2022-07-26,3,34272
4,14016,Vodafone,M,45,Nagaland,Bangalore,188036,2020-03-11,4,34157

In [115]:
# Merging the datasets
merge_df = pd.merge(telecom_usage_df, telecom_demographics_df, on='customer_id', how='inner')

In [117]:
merge_df.head()

,customer_id,calls_made,sms_sent,data_used,churn,telecom_partner,gender,age,state,city,pincode,registration_event,num_dependents,estimated_salary
0,15169,75,21,4532,1,Airtel,F,26,Himachal Pradesh,Delhi,667173,2020-03-16,4,85979
1,149207,35,38,723,1,Airtel,F,74,Uttarakhand,Hyderabad,313997,2022-01-16,0,69445
2,148119,70,47,4688,1,Airtel,F,54,Jharkhand,Chennai,549925,2022-01-11,2,75949
3,187288,95,32,10241,1,Reliance Jio,M,29,Bihar,Hyderabad,230636,2022-07-26,3,34272
4,14016,66,23,5246,1,Vodafone,M,45,Nagaland,Bangalore,188036,2020-03-11,4,34157

In [119]:
# Rate of target
churn_rate = merge_df['churn'].value_counts() / len(merge_df)

# Identify categorical variables
categorical_variables = merge_df.select_dtypes(include=['object']).columns.tolist()

# Print the results
print("Churn Rate:")
print(churn_rate)
print("\nCategorical Variables:")
print(categorical_variables)

Churn Rate:
churn
0    0.799538
1    0.200462
Name: count, dtype: float64

Categorical Variables:
['telecom_partner', 'gender', 'state', 'city', 'registration_event']

In [121]:
categorical_variables.remove('registration_event')
telecom_data_numeric = pd.get_dummies(merge_df, columns=categorical_variables)

In [123]:
telecom_data_numeric.to_csv("/Users/aayushpatil/Downloads/output.csv", index=False)

In [125]:
for col in range(10,50):
    telecom_data_numeric.iloc[:,col] = telecom_data_numeric.iloc[:,col].astype(int) 

telecom_data_numeric

,customer_id,calls_made,sms_sent,data_used,churn,age,pincode,registration_event,num_dependents,estimated_salary,...,state_Tripura,state_Uttar Pradesh,state_Uttarakhand,state_West Bengal,city_Bangalore,city_Chennai,city_Delhi,city_Hyderabad,city_Kolkata,city_Mumbai
0,15169,75,21,4532,1,26,667173,2020-03-16,4,85979,...,0,0,0,0,0,0,1,0,0,0
1,149207,35,38,723,1,74,313997,2022-01-16,0,69445,...,0,0,1,0,0,0,0,1,0,0
2,148119,70,47,4688,1,54,549925,2022-01-11,2,75949,...,0,0,0,0,0,1,0,0,0,0
3,187288,95,32,10241,1,29,230636,2022-07-26,3,34272,...,0,0,0,0,0,0,0,1,0,0
4,14016,66,23,5246,1,45,188036,2020-03-11,4,34157,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,78836,-2,39,5000,0,54,125785,2021-01-29,4,124805,...,0,0,0,0,0,1,0,0,0,0
6496,146521,20,31,3562,0,69,923076,2022-01-03,1,65605,...,0,0,0,0,0,0,0,1,0,0
6497,40413,73,14,65,0,19,152201,2020-07-21,0,28632,...,0,0,0,0,0,0,0,1,0,0
6498,64961,52,8,6835,0,26,782127,2020-11-21,3,119757,...,0,0,0,0,0,1,0,0,0,0
6499,60427,90,12,5531,0,19,918496,2020-10-29,3,119368,...,0,0,0,0,0,0,0,1,0,0

In [127]:
telecom_data_numeric.to_csv("/Users/aayushpatil/Downloads/new_output.csv", index=False)

In [129]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler object
scaler = StandardScaler()

# Apply standard scaling to the numerical columns (excluding the target 'churn' and any non-numeric columns)
columns_to_scale = telecom_data_numeric.drop(columns=['churn', 'customer_id', 'registration_event'], errors='ignore').columns
features_scaled = churn_df_encoded.copy() = telecom_data_numeric.copy()
features_scaled[columns_to_scale] = scaler.fit_transform(features_scaled[columns_to_scale])

# Print the first few rows of the scaled dataset
print(telecom_data_scaled.head())

   customer_id  calls_made  sms_sent  data_used  churn       age   pincode  \
0        15169    0.846076 -0.222385  -0.159488      1 -1.222970  0.454936
1       149207   -0.496344  0.938056  -1.454896      1  1.696304 -0.904195
2       148119    0.678273  1.552407  -0.106434      1  0.479940  0.003729
3       187288    1.517286  0.528489   1.782094      1 -1.040515 -1.224994
4        14016    0.544031 -0.085862   0.083337      1 -0.067424 -1.388932

  registration_event  num_dependents  estimated_salary  ...  state_Tripura  \
0         2020-03-16        1.436539          0.011981  ...      -0.184955
1         2022-01-16       -1.411346         -0.428423  ...      -0.184955
2         2022-01-11        0.012596         -0.255181  ...      -0.184955
3         2022-07-26        0.724568         -1.365302  ...      -0.184955
4         2020-03-11        1.436539         -1.368365  ...      -0.184955

   state_Uttar Pradesh  state_Uttarakhand  state_West Bengal  city_Bangalore  \
0            -0.179548          -0.190228          -0.186727       -0.442913
1            -0.179548           5.256839          -0.186727       -0.442913
2            -0.179548          -0.190228          -0.186727       -0.442913
3            -0.179548          -0.190228          -0.186727       -0.442913
4            -0.179548          -0.190228          -0.186727        2.257778

   city_Chennai  city_Delhi  city_Hyderabad  city_Kolkata  city_Mumbai
0     -0.449606    2.182295       -0.443410     -0.440177    -0.448864
1     -0.449606   -0.458233        2.255248     -0.440177    -0.448864
2      2.224171   -0.458233       -0.443410     -0.440177    -0.448864
3     -0.449606   -0.458233        2.255248     -0.440177    -0.448864
4     -0.449606   -0.458233       -0.443410     -0.440177    -0.448864

[5 rows x 50 columns]

In [139]:
from sklearn.model_selection import train_test_split

# Define the features (X) and the target variable (y)
X = features_scaled.drop(columns=['churn', 'customer_id', 'registration_event'], errors='ignore')
target = features_scaled['churn']

# Split the data into training and testing sets (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.2, random_state=42)

# Print the shapes of the resulting datasets
print("Training Features Shape:", X_train.shape)
print("Testing Features Shape:", X_test.shape)
print("Training Target Shape:", y_train.shape)
print("Testing Target Shape:", y_test.shape)

Training Features Shape: (5200, 47)
Testing Features Shape: (1300, 47)
Training Target Shape: (5200,)
Testing Target Shape: (1300,)

In [141]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Instantiate the Logistic Regression model with random_state=42
logreg = LogisticRegression(random_state=42)

# Fit the Logistic Regression model
logreg.fit(X_train, y_train)

# Make predictions using the Logistic Regression model
logreg_pred = logreg.predict(X_test)

# Instantiate the Random Forest model with random_state=42
rf = RandomForestClassifier(random_state=42)

# Fit the Random Forest model
rf.fit(X_train, y_train)

# Make predictions using the Random Forest model
rf_pred = rf.predict(X_test)

# Print the first few predictions from each model
print("Logistic Regression Predictions:", logreg_pred[:5])
print("Random Forest Predictions:", rf_pred[:5])

Logistic Regression Predictions: [0 0 0 0 0]
Random Forest Predictions: [0 0 0 0 0]

In [142]:
from sklearn.metrics import confusion_matrix, classification_report

# Confusion matrix and classification report for Logistic Regression
print("Logistic Regression Confusion Matrix:")
print(confusion_matrix(y_test, logreg_pred))
print("\nLogistic Regression Classification Report:")
print(classification_report(y_test, logreg_pred))

# Confusion matrix and classification report for Random Forest
print("Random Forest Confusion Matrix:")
print(confusion_matrix(y_test, rf_pred))
print("\nRandom Forest Classification Report:")
print(classification_report(y_test, rf_pred))

Logistic Regression Confusion Matrix:
[[1027    0]
 [ 273    0]]

Logistic Regression Classification Report:
              precision    recall  f1-score   support

           0       0.79      1.00      0.88      1027
           1       0.00      0.00      0.00       273

    accuracy                           0.79      1300
   macro avg       0.40      0.50      0.44      1300
weighted avg       0.62      0.79      0.70      1300

Random Forest Confusion Matrix:
[[1027    0]
 [ 272    1]]

Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.79      1.00      0.88      1027
           1       1.00      0.00      0.01       273

    accuracy                           0.79      1300
   macro avg       0.90      0.50      0.45      1300
weighted avg       0.83      0.79      0.70      1300

In [145]:
# Extract the accuracy scores from the classification reports
logreg_report = classification_report(y_test, logreg_pred, output_dict=True)
rf_report = classification_report(y_test, rf_pred, output_dict=True)

# Get the accuracy for each model
logreg_accuracy = logreg_report['accuracy']
rf_accuracy = rf_report['accuracy']

# Determine which model has higher accuracy
higher_accuracy = "LogisticRegression" if logreg_accuracy > rf_accuracy else "RandomForest"

print("Logistic Regression Accuracy:", logreg_accuracy)
print("Random Forest Accuracy:", rf_accuracy)
print("Model with Higher Accuracy:", higher_accuracy)

Logistic Regression Accuracy: 0.79
Random Forest Accuracy: 0.7907692307692308
Model with Higher Accuracy: RandomForest

In [148]:
# Import required libraries and methods/functions
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder 
# OneHotEncoder is not needed if using pd.get_dummies()
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

# Load data
telco_demog = pd.read_csv('/Users/aayushpatil/Downloads/telecom_demographics.csv')
telco_usage = pd.read_csv('/Users/aayushpatil/Downloads/telecom_usage.csv')

# Join data
churn_df = telco_demog.merge(telco_usage, on='customer_id')

# Identify churn rate
churn_rate = churn_df['churn'].value_counts() / len(churn_df)
print(churn_rate)

# Identify categorical variables
print(churn_df.info())

# One Hot Encoding for categorical variables
churn_df = pd.get_dummies(churn_df, columns=['telecom_partner', 'gender', 'state', 'city', 'registration_event'])

# Feature Scaling
scaler = StandardScaler()

# 'customer_id' is not a feature
features = churn_df.drop(['customer_id', 'churn'], axis=1)
features_scaled = scaler.fit_transform(features)

# Target variable
target = churn_df['churn']

# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(features_scaled, target, test_size=0.2, random_state=42)

# Instantiate the Logistic Regression
logreg = LogisticRegression(random_state=42)
logreg.fit(X_train, y_train)

# Logistic Regression predictions
logreg_pred = logreg.predict(X_test)

# Logistic Regression evaluation
print(confusion_matrix(y_test, logreg_pred))
print(classification_report(y_test, logreg_pred))

# Instantiate the Random Forest model
rf = RandomForestClassifier(random_state=42)
rf.fit(X_train, y_train)

# Random Forest predictions
rf_pred = rf.predict(X_test)

# Random Forest evaluation
print(confusion_matrix(y_test, rf_pred))
print(classification_report(y_test, rf_pred))

# Which accuracy score is higher? Ridge or RandomForest
higher_accuracy = "RandomForest"

churn
0    0.799538
1    0.200462
Name: count, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         6500 non-null   int64
 1   telecom_partner     6500 non-null   object
 2   gender              6500 non-null   object
 3   age                 6500 non-null   int64
 4   state               6500 non-null   object
 5   city                6500 non-null   object
 6   pincode             6500 non-null   int64
 7   registration_event  6500 non-null   object
 8   num_dependents      6500 non-null   int64
 9   estimated_salary    6500 non-null   int64
 10  calls_made          6500 non-null   int64
 11  sms_sent            6500 non-null   int64
 12  data_used           6500 non-null   int64
 13  churn               6500 non-null   int64
dtypes: int64(9), object(5)
memory usage: 711.1+ KB
None
[[911 116]
 [243  30]]
              precision    recall  f1-score   support

           0       0.79      0.89      0.84      1027
           1       0.21      0.11      0.14       273

    accuracy                           0.72      1300
   macro avg       0.50      0.50      0.49      1300
weighted avg       0.67      0.72      0.69      1300

[[1026    1]
 [ 273    0]]
              precision    recall  f1-score   support

           0       0.79      1.00      0.88      1027
           1       0.00      0.00      0.00       273

    accuracy                           0.79      1300
   macro avg       0.39      0.50      0.44      1300
weighted avg       0.62      0.79      0.70      1300